.container-bg{
  width: 360px;
  height: 640px;
  background: white!important;
  margin: auto;
}
body{
  background: lavender!important;
}
.back-button{
  font-size: 23px;
  color: black;
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
}
.qr-code{
  margin-top: 120px!important;

}
.unduh-barcode{
  background-color: #88DEB1!important;
  font-weight: bold!important;
  color: white!important;
  padding-left: 100px!important;
  padding-right: 100px!important;
  border-radius: 10px!important;
  margin-left: 35px!important;
  margin-top: 125px!important
}