.container-bg{
  background: white;
  width: 360px;
  height: 640px;
  margin: auto;
}

body{
  background: lavender;
}

.bar {
  display: flex;
  height: 30px;
  background-color: #377A97;
  padding: 10px;
}

.form {
  margin-left: 20px;
  width: 300px;
} 

.unggah {
  border-radius: 7px;
  padding-left: 115px;
  padding-right: 115px;
  background: #88DEB1;
  height: 40px;
  border-style: none;
  color: white;
  margin-left: 38px;
  margin-top: 128px;
}