body{
  background: lavender;

}
.container-bg{
  background: white;
  width: 360px;
  height: 640px;
  margin: auto;
  padding: 0;
  display: flex;
}
.search{
  width: 270px!important;
  height: 30px!important;
  border-radius: 5px!important;
  margin-top: 10px!important;
}
.icon{
  color: #377A97;
  font-size: 24px;
}
.cari{
  margin-right: 10px;
  margin-top: 13px;
  margin-left: 10px;
}
.back{
  margin-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
}