.container{
  background: white;
  margin: auto;
  width: 360px;
  height: 640px;
  padding: 0;
  padding-bottom: 0;
}

body{
  background: lavender;
}

.card{
  width: 90px!important;
  height: 90px!important;
  border-radius:15px!important; 
  margin-top: 20px;
  margin-left: 22px;
  padding: 0;
  margin-right: 0px;
  cursor: pointer;
}

.status{
  font-weight: bold;
  margin-top: 22px;
  position: absolute;
  left: 18px;
}

.box {
  font-size: 24px;
  position: absolute;
  color: #88DEB1;
  top: 20px;
  right: 30px;
}

.packing {
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
  color: rgb(172, 172, 172);
}

.status-pengiriman{
  display: flex
}

.card-barang {
  width: 310px;
  height: 150px;
  margin-left: 22px;
  margin-top: 40px;
  border-radius: 15px;
  padding-left: 0px;
  display: flex;
}

.gambar {
  position: absolute;
  top: -15px;
  left: -5px;
}

.nama {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: -5px;
  left: 15px;
}

.deskripsi {
  position: absolute;
  right: 50px;
  top: 15px;
}

.konfirmasi {
  position: absolute;
  top: 60px;
}
.status1{
  font-weight: bold;
  margin-top: 22px;
  position: absolute;
  left: 18px;
  color: rgb(172, 172, 172);
}
.estimasi{
  margin-top: 30px;
}